{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<h1>Lista de Tareas</h1>

<form action="{% url "crear_tarea" %}" method='POST'>
    {% csrf_token %}
    <input type='text' name='titulo' placeholder='Titulo' required autocomplete=off>
    <textarea type='text' name='descripcion' placeholder='Descripcion' required></textarea>
    <button type='submit'>Guardar</button>
</form>

{% for tarea in tareas %}
    <div>
    <h6>{{ tarea.fecha }}</h6>
    <h4>{{ tarea.titulo }}</h4>
    <h5>{{ tarea.descripcion }}</h5>
    <form action="{% url "borrar_tarea" tarea.id %}" method='POST'> {% csrf_token %} <button type='submit'>Borrar</button></form>
    </div>
{% empty %}
    <p>No hay Tareas Pendientes.</p>

{% endfor %}

</body>
</html>